In [1]:
import pandas as pd
import numpy as np
import os
import datetime

In [2]:
def value_to_float(x):
    if str(x) == 'nan':
        return 0
    a = x.replace(',','')
    return np.float(a)

In [3]:
data_file = os.listdir('Dataset')
data_file

['2021-11-27.csv',
 '2021-11-28.csv',
 '2021-11-29.csv',
 '2021-11-30.csv',
 '2021-12-01.csv',
 '2021-12-02.csv',
 '2021-12-03.csv',
 '2021-12-04.csv',
 '2021-12-05.csv',
 '2021-12-06.csv',
 '2021-12-07.csv',
 '2021-12-08.csv',
 '2021-12-09.csv']

In [4]:
Start_day = datetime.datetime(2021,11,27)
for filename in data_file:
    Country = pd.read_csv(f'Dataset/{filename}', sep='\t')[:-7]
    for item in Country:
        try:
            if item == '#' or item == 'Continent' or item == None or item == 'Country':
                continue
            Country[item] = Country[item].apply(value_to_float)
        except:
            print(item, filename)
    Country['Date'] = Start_day
    Country.to_csv(f'Modified/Countries/{filename}', sep='\t', index=False)
    Start_day = Start_day + datetime.timedelta(days=1)

In [5]:
Start_day = datetime.datetime(2021,11,27)
for filename in data_file:
    Continent = pd.read_csv(f'Dataset/{filename}', sep='\t')[-7:-1]
    keep_cols = ['Country', 'Total Cases', 'New Cases', 'Total Deaths', 'New Deaths', 'Total Recover', 
                            'New Recorver', 'Active Cases', 'Serious Critical']
    Continent = Continent[keep_cols]
    Continent = Continent.rename(columns={"Country": "Continent"})
    for item in Continent:
        try:
            if item == '#' or item == 'Continent' or item == None or item == 'Country':
                continue
            Continent[item] = Continent[item].apply(value_to_float)
        except:
            print(item, filename)
    Continent['Date'] = Start_day
    Continent.to_csv(f'Modified/Continents/{filename}', sep='\t', index=False)
    Start_day = Start_day + datetime.timedelta(days=1)

In [6]:
Start_day = datetime.datetime(2021,11,27)
for filename in data_file:
    World = pd.read_csv(f'Dataset/{filename}', sep='\t').tail(1)
    keep_cols = ['Total Cases', 'New Cases', 'Total Deaths', 'New Deaths', 'Total Recover', 
                            'New Recorver', 'Active Cases', 'Serious Critical','Cases/1M pop','Deaths/1M pop']
    World = World[keep_cols]
    for item in World:
        try:
            World[item] = World[item].apply(value_to_float)
        except:
            print(item, filename)
    World['Date'] = Start_day
    Start_day = Start_day + datetime.timedelta(days=1)
    World.to_csv(f'Modified/Worlds/{filename}', sep='\t', index=False)

In [8]:
pd.read_csv(f'Modified/Worlds/2021-12-09.csv', sep='\t')

,Total Cases,New Cases,Total Deaths,New Deaths,Total Recover,New Recorver,Active Cases,Serious Critical,Cases/1M pop,Deaths/1M pop,Date
0,268706746.0,604858.0,5302569.0,7487.0,241782335.0,484137.0,21621842.0,88951.0,34473.0,680.3,2021-12-09

In [10]:
pd.read_csv(f'Modified/Countries/2021-12-09.csv', sep='\t')

,#,Country,Total Cases,New Cases,Total Deaths,New Deaths,Total Recover,New Recorver,Active Cases,Serious Critical,Cases/1M pop,Deaths/1M pop,Total tests,Tests/1M pop,Population,Continent,Date
0,1,USA,50535791.0,110894.0,815269.0,1088.0,39879448.0,63582.0,9841074.0,14647.0,151399.0,2442.0,769966461.0,2306726.0,3.337919e+08,North America,2021-12-09
1,2,India,34674744.0,8503.0,474735.0,624.0,34097388.0,8251.0,102621.0,8944.0,24777.0,339.0,653243539.0,466771.0,1.399495e+09,Asia,2021-12-09
2,3,Brazil,22177059.0,9278.0,616504.0,206.0,21407699.0,8383.0,152856.0,8318.0,103279.0,2871.0,63776166.0,297006.0,2.147305e+08,South America,2021-12-09
3,4,UK,10660981.0,50867.0,146135.0,148.0,9378165.0,37775.0,1136681.0,890.0,155866.0,2137.0,373037852.0,5453891.0,6.839848e+07,Europe,2021-12-09
4,5,Russia,9925806.0,30209.0,286004.0,1181.0,8637861.0,35794.0,1001941.0,2300.0,67974.0,1959.0,229800000.0,1573709.0,1.460244e+08,Europe,2021-12-09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219,220,Marshall Islands,4.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,67.0,0.0,0.0,0.0,5.976400e+04,Australia/Oceania,2021-12-09
220,221,Samoa,3.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,15.0,0.0,0.0,0.0,2.003080e+05,Australia/Oceania,2021-12-09
221,222,Saint Helena,2.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,328.0,0.0,0.0,0.0,6.103000e+03,Africa,2021-12-09
222,223,Micronesia,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,9.0,0.0,0.0,0.0,1.167550e+05,Australia/Oceania,2021-12-09
223,224,Tonga,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,9.0,0.0,0.0,0.0,1.074160e+05,Australia/Oceania,2021-12-09

In [11]:
pd.read_csv(f'Modified/Continents/2021-12-09.csv', sep='\t')

,Continent,Total Cases,New Cases,Total Deaths,New Deaths,Total Recover,New Recorver,Active Cases,Serious Critical,Date
0,Africa,8920899.0,32406.0,224824.0,108.0,8189658.0,5888.0,506417.0,1798.0,2021-12-09
1,Asia,82873819.0,83989.0,1228645.0,1721.0,80147334.0,102209.0,1497840.0,30592.0,2021-12-09
2,Europe,77057072.0,346439.0,1450634.0,3817.0,67423999.0,286584.0,8182439.0,23037.0,2021-12-09
3,North America,60310080.0,120820.0,1208667.0,1448.0,48448547.0,71437.0,10652866.0,20584.0,2021-12-09
4,Oceania,384109.0,1913.0,4320.0,10.0,344921.0,1794.0,34868.0,142.0,2021-12-09
5,South America,39160046.0,19291.0,1185464.0,383.0,37227170.0,16225.0,747412.0,12798.0,2021-12-09